pypdf
pdfplumber
tqdm
google-genai
google-cloud-storage
google-cloud-aiplatform
google-auth
langchain
langchain-core
langchain-google-genai
langchain-community
faiss-cpu
fastapi
uvicorn
pydantic
langchain-google-vertexai
